---
layout: default
icon: home
display: Home
---

<div class="home">

    <div class="about">
        <h1>About Me</h1>
        <p>
            I'm a software engineer with a passion for Android development, a
            career in front-end web development, a fondness for good user
            experiences, and a drive to craft quality software.
        </p>
    </div>

    <h1 class="page-heading">Posts</h1>

    <ul class="post-list">
        {% for post in site.posts %}
            {% include post-card.html %}
        {% endfor %}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
