//  This is a manifest file that'll be compiled into application.css, which will include all the files
//  listed below.
// 
//  Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
//  or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
// 
//  You're free to add application-wide styles to this file and they'll appear at the top of the
//  compiled file, but it's generally better to create a new file per style scope.
// 
// = require_self
// = require_tree .

$purple-dull: #5C2680
$purple-dark: #44036F
$purple-medium: #6A0AAB

*
	border-radius: 0px !important

#nav
	padding: 10px 0px
	background-color: $purple-dull
	a
		color: #DDD
		&:hover
			background-color: $purple-medium
	li.active
		a
			color: #FFF
			background-color: $purple-dark
			
.affix,
.affix-top,
.affix-bottom
	position: absolute
	top: 0
	bottom: 0
	left: 0

#primary
	min-height: 10000px